@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	margin:0;
	border:0;
	padding:0;
	outline:0;
	resize:none;
	overflow:hidden;
	font-family:'Montserrat';
}

html, body {
	width:100%;
	height:100%;
}

.center {
	display:flex;
	justify-content:center;
	align-items:center;
}

.center-x {
	display:flex;
	justify-content:center;
}

.center-y {
	display:flex;
	align-items:center;
}

.radius {
	border-radius:5px;
}

div#window {
	position:absolute;
	left:15vw;
	top:15vh;
	z-index:10;
	background:#2d3436;
	width:70vw;
	height:70vh;
}

div#window.hidden {
	visibility:hidden;
}

div#window button#close {
	float:left;
	margin-left:calc(95% + calc(2.5% - 20px));
	margin-right:calc(2.5% - 20px);
	margin-top:calc(2.5% - 20px);
	margin-bottom:calc(2.5% - 20px);
	width:40px;
	height:40px;
	background:#CC3363;
	color:white;
	font-size:150%;
	transition:.5s filter;
}

div#window button#close:hover {
	filter:brightness(120%);
}

div#window h1 {
	float:left;
	padding:0px 10px;
	width:calc(100% - 20px);
	height:10%;
	color:white;
}

div#window p {
	float:left;
	padding:0px 10px;
	width:calc(100% - 20px);
	height:calc(90% - 20px);
	color:white;
}

nav {
	float:left;
	width:100%;
	height:10%;
	background:#272727;
}

nav div.container {
	float:left;
	width:30%;
	height:100%;
	color:white;
}

nav h1 {
	float:left;
	width:100%;
	height:50%;
}

nav a#url {
	float:left;
	width:100%;
	height:50%;
}

nav a {
	float:left;
	width:17.5%;
	height:100%;
	color:white;
	text-decoration:none;
	transition:all .5s;
}

nav a.active {
	background:#474747;
}

nav a:hover {
	background:#474747;
}

div#content-wrapper {
	float:left;
	width:100%;
	height:90%;
}

div.screen {
	float:left;
	width:0;
	height:100%;
	visibility:hidden;
}

div.screen.active {
	width:100%;
	visibility:visible;
}

div#about article {
	float:left;
	padding:60px;
	width:calc(50% - 120px);
	height:calc(100% - 120px);
	background:#EEF0F2;
	font-size:250%;
}

div#about aside {
	float:left;
	width:50%;
	height:100%;
}

div#about aside img {
	width:256px;
	height:256px;
	border-radius:50%;
}

div#portfolio-container {
	width:90vw;
	height:90vh;
	overflow-y:scroll;
}

div#portfolio-container div.portfolio-cell {
	float:left;
	margin:5px;
	padding:0px 5px;
	box-shadow:5px 5px 0px #EEF0F2;
	width:calc(50% - 20px);
	height:calc(12.5% - 10px);
	transition:all .5s;
}

div#portfolio-container div.portfolio-cell h1 {
	font-size:12pt;
}

div#portfolio-container div.portfolio-cell p {
	font-size:8pt;
}

div#portfolio-container div.portfolio-cell h1, div#portfolio-container div.portfolio-cell p {
	margin:10px;
}

div#portfolio-container div.portfolio-cell:hover {
	box-shadow:10px 10px 0px #81ecec;
}

div#resume iframe {
	width:50%;
	min-height:90%;
	height:auto;
}

div#contact p {
	padding:40px;
	width:calc(100% - 80px);
	height:calc(100% - 80px);
	background:#EEF0F2;
	font-size:200%;
	line-height:calc(10vh - 10px);
}
